:80 {
  encode gzip

  respond /lb-healthz "ok" 200

  route {
    # API -> gateway
    handle /v1/* {
      reverse_proxy http://gateway:8085
    }

    handle /transactionservice/v1/* {
      reverse_proxy http://gateway:8085
    }

    # Vue SPA
    handle {
      root * /srv
      try_files {path} /index.html
      file_server
    }
  }
}