version: '3'
services:
  mysql-container:
    image: mysql:latest
    container_name: mysql-container
    environment:
      MYSQL_ROOT_PASSWORD: gamestore
      MYSQL_DATABASE: gamestore
      MYSQL_USER: gamestore
      MYSQL_PASSWORD: gamestore
    ports:
      - "3307:3306"
    volumes:
      - ../databases/scripts:/docker-entrypoint-initdb.d
      - ../databases/docker-data/mysql:/var/lib/mysql
    networks:
      - backend
  redis-server:
    image: redis:7.0.9
    container_name: redis-server
    command: [ "redis-server" ]
    networks:
      - backend
  mongo-container:
    image: mongo:latest
    container_name: mongo-container
    ports:
      - "27018:27017"
    volumes:
      - ../databases/docker-data/mongodb:/data/db
    networks:
      - backend
  eureka-container:
    build: ../eureka
    ports:
      - "8087:8087"
    depends_on:
      - redis-server
    networks:
      - backend
  gateway:
    build: ../gateway
    ports:
      - "8085:8085"
    depends_on:
      - eureka-container
      - redis-server
    networks:
      - backend
  vgsms:
    build: ../vgsms
    depends_on:
      - eureka-container
      - redis-server
      - gateway
      - mysql-container
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-container:3306/gamestore?serverTimezone=UTC&characterEncoding=UTF-8&useUnicode=true&allowPublicKeyRetrieval=true&useSSL=false
      SPRING_DATASOURCE_USERNAME: gamestore
      SPRING_DATASOURCE_PASSWORD: gamestore
      SPRING_DATA_REDIS_HOST: redis-server
    restart: always
    networks:
      - backend
  transactionservice:
    build: ../transactionservice
    depends_on:
      - eureka-container
      - redis-server
      - gateway
      - mongo-container
    environment:
      SPRING_DATA_REDIS_HOST: redis-server
      SPRING_DATA_MONGODB_HOST: mongo-container
      SPRING_DATA_MONGODB_PORT: 27017
      SPRING_DATA_MONGODB_DATABASE: finalized_orders
    restart: always
    networks:
      - backend
networks:
  backend:
    driver: bridge