version: '3'
services:
  cloudsql-proxy:
    image: gcr.io/cloud-sql-connectors/cloud-sql-proxy:2
    container_name: cloudsql-proxy
    command:
      - "--address=0.0.0.0"
      - "--port=3306"
      - "${CLOUDSQL_INSTANCE_CONNECTION_NAME}"
    restart: unless-stopped
    networks:
      - backend

  redis-server:
    image: redis:7.0.9
    container_name: redis-server
    command: [ "redis-server" ]
    restart: unless-stopped
    networks:
      - backend

  eureka-container:
    build: ../eureka
    ports:
      - "8087:8087"
    depends_on:
      - redis-server
    restart: unless-stopped
    networks:
      - backend

  gateway:
    build: ../gateway
    ports:
      - "8085:8085"
    depends_on:
      - eureka-container
      - redis-server
    restart: unless-stopped
    networks:
      - backend

  vgsms:
    build: ../vgsms
    depends_on:
      - eureka-container
      - redis-server
      - gateway
      - cloudsql-proxy
    environment:
      MYSQL_JDBC_URL: ${MYSQL_JDBC_URL}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}

      STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}

      SPRING_DATA_REDIS_HOST: redis-server
    restart: unless-stopped
    networks:
      - backend

  transactionservice:
    build: ../transactionservice
    depends_on:
      - eureka-container
      - redis-server
      - gateway
    environment:
      SPRING_DATA_REDIS_HOST: redis-server

      MONGO_URI: ${MONGO_URI}

      STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}
      STRIPE_WEBHOOK_SECRET_KEY: ${STRIPE_WEBHOOK_SECRET_KEY}
    restart: unless-stopped
    networks:
      - backend

networks:
  backend:
    driver: bridge
